@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;

}

header {
    background-color: #373b69;
    padding: 1rem;
    display: flex;
    /*justify-content: flex-end;*/
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
}

.search {
    font-family: inherit;
    font-size: 1.2rem;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    padding: 0.5rem 1.5rem;
}

.search:focus {
    outline: 0;
}

.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3 {
    margin: 0;
}

.movie-over {
    background-color: #fff;
    color: #373b69;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
    transform: translateY(0%);
}

.release {
    color: #333;
}

.release span {
    font-weight: 700;
}

.tag {
    background-color: #22254b;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 700;
}

.tag.green {
    color: #009c00;
}

.tag.orange {
    color: #ffa500;
}

.tag.red {
    color: #ff3737;
}

@media only screen and (max-width: 435px) {
    header {
        display: block !important;
    }

    header .logo {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 18px;
    }

    header form, header .search {
        text-align: center;
    }

    .search {
        font-size: .5rem;
    }

}

